/* generales */

body {
    color: white;
    font-family: 'Kufam', cursive;
    background-color: rgba(40, 40, 40, 1);
}

.bg-dark-08 {
    background-color: rgba(12, 12, 12, 0.8);
}

.opacity-0 {
    opacity: 0;
}

.opacity-05 {
    opacity: 0.5;
}

.opacity-1 {
    opacity: 1;
}

body.modal-open main {
    -webkit-filter: blur(5px) grayscale(80%);
    -moz-filter: blur(5px) grayscale(80%);
    -o-filter: blur(5px) grayscale(80%);
    -ms-filter: blur(5px) grayscale(80%);
    filter: blur(5px) grayscale(80%);
}


/* links */

.fancy-link {
    text-decoration: none !important;
    color: #ee6352;
    position: relative;
    cursor: pointer;
}

.fancy-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in;
}

.fancy-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

a.fancy-link:hover {
    color: #ee6352;
}

a.fancy-link:visited {
    color: #ee6352;
}


/* navbar */

.navbar {
    font-family: 'Oswald', sans-serif;
}


/* footer */

.footer {
    font-family: 'Oswald', sans-serif;
}

.lico {
    text-decoration: none;
}


/* index */

.miniRelics {
    width: 80px;
    padding-bottom: 7px;
}

.cuadradito {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.65);
}

.textoIndex {
    padding: 5% 12%;
}

.startBanner {
    min-width: 250px;
    min-height: 120px;
    border-radius: 30px;
    background: no-repeat 50% 50% /100% url(../images/reliquias0001.jpg);
    color: white;
    transition: all 1200ms ease-in-out;
    border: solid thin white;
}

.startBanner:hover {
    background: no-repeat 70% 50% /200% url(../images/reliquias0001.jpg);
}

.startBanner2 {
    background: no-repeat 50% 30% /100% url(../images/reliquias000u.jpg);
}

.startBanner2:hover {
    background: no-repeat 70% 25% /200% url(../images/reliquias000u.jpg);
}

.textBanner {
    padding-top: 80px;
    padding-right: 15px;
    text-shadow: 1px 2px 1px rgba(119, 119, 119, 0.6);
}

.letraPatreon {
    font-size: 100px;
}

.flIndex {
    color: white;
    background-color: grey;
    transition: background-color 700ms ease-in-out;
}

.flIndex:hover {
    background-color: darkgrey;
}

a.flIndex:hover {
    color: whitesmoke;
}

a.flIndex:visited {
    color: whitesmoke;
}

.signoUnknown {
    font-size: 100px;
}

@media screen and (min-width: 601px) {
    .textoIndex {
        padding: 5% 20%;
    }
    .signoUnknown {
        font-size: 150px;
    }
    .startBanner {
        min-width: 550px;
        min-height: 150px;
        border: none;
    }
    .textBanner {
        padding-right: 25px;
    }
}

.logoMP {
    width: 120px;
}


/* principal */

#generalWbackground {
    background: no-repeat url("../images/nasa-Q1p7bh3SHj8-unsplash.png");
    background-position: top;
    width: 100%;
}

#entradas {
    background: white;
    color: black;
    border: medium solid black;
    font-size: 12px;
    min-height: 400px;
}

@media screen and (min-width: 601px) {
    #entradas {
        font-size: 16px;
        border: thick solid black;
    }
}

.parraf0 {
    text-align: end;
}

.titulos {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

@media screen and (min-width: 601px) {
    .titulos {
        font-size: 40px;
    }
}


/* equipo */

#mainEquipo {
    color: black;
    font-size: 12px;
    min-height: 400px;
}

@media screen and (min-width: 601px) {
    #mainEquipo {
        font-size: 16px;
    }
}

#eqde {
    font-family: 'Oswald', sans-serif;
}

.teamBadge {
    border-radius: 40px;
    width: 150px;
    height: 300px;
}

.fotoEquipo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.licoEquipo {
    text-decoration: none;
    font-size: 24px;
}

@media screen and (min-width: 601px) {
    .teamBadge {
        border-radius: 40px;
        width: 200px;
        height: 350px;
        font-size: 14px;
    }
    .fotoEquipo {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .licoEquipo {
        text-decoration: none;
        font-size: 32px;
    }
}

.blogEntry {
    background-color: rgb(160, 160, 160);
    border: medium solid black;
}

.blogIz {
    min-height: 250px;
}

.blogDe {
    min-height: 400px;
    background: white;
}

.fotoBlog {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


/* tarjetas2 */

#tapa2 {
    min-height: 70vh;
}

.tarjeta {
    border-radius: 20px;
    height: 550px;
    width: 300px;
    position: relative;
}

.fondo {
    border-radius: 20px;
    position: absolute;
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 1000ms ease-in-out, transform 500ms ease-in-out, box-shadow 2000ms ease-in-out;
    filter: blur(0px);
    z-index: 1;
}

@media screen and (min-width: 601px) {
    .fondo {
        filter: blur(8px);
    }
}

.fondo0001 {
    background: url('../images/leer0001.jpg') no-repeat;
}

.fondo0002 {
    background: url('../images/leer0002.jpg') no-repeat;
}

.fondo0004 {
    background: url('../images/leer0004.jpg') no-repeat;
}

.tarjeta:hover .fondo {
    transform: scale(1.05) translateZ(0);
    filter: blur(0px);
    -webkit-box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.65);
}

.tarjeTitulo {
    margin-top: 200px;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

@media screen and (min-width: 601px) {
    .tarjeTitulo {
        font-size: 24px;
    }
}

.textoTitulo {
    position: absolute;
    z-index: 2;
    height: 160px;
    overflow: hidden;
    bottom: 70px;
}

.botonTitulo {
    position: absolute;
    width: 215px;
    z-index: 2;
    bottom: 42px;
}

@media screen and (min-width: 601px) {
    .tarjeTitulo {
        font-size: 24px;
    }
    .botonTitulo {
        width: 250px;
        bottom: 27px;
    }
}


/* galeria */

.itemGaleria {
    text-decoration: none;
}

.imgGale {
    border-radius: 20px;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: transform 300ms ease-in-out;
}

.imgGale:hover {
    transform: scale(1.1) translateZ(0);
}


/* dropdown */

#dropdownMenuButton {
    width: 250px;
}

@media screen and (min-width: 601px) {
    #dropdownMenuButton {
        width: 400px;
    }
}


/* banderas */

.banderita {
    width: 16px;
    height: 16px;
}